$colorPrincipal: #f08080;
$fuenteTitulos: 'Amatic SC', cursive;
$fuenteTextos: "Tahoma", sans-serif;
$tamanioTitulos: 2rem;
$sombraBtns: 0 0 10px rgba(0, 0, 0, 0.5);
$sombraCajas: 0 0 10px rgba(0, 0, 0, 0.2);